{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
{% block content %}
<div class="container fluid">
    <h2>
        <small>Aplikacja sterująca układem elementów mikrofalowych</small>
    </h2>
    <h5>
        <small>Aplikacja która pozwala kształtować charakterystykę promieniowania anteny</small>
    </h5>
    <div class="bs-example" data-example-id="body-copy">
        <p>
        <ol>
            <li><a href="#index1">Sens działania aplikacji</a></li>
            <li><a href="#index2">Sposób wyboru elementów mikrofalowych</a></li>
            <li><a href="#index3">Import oraz eksport danych</a></li>
            <li>Algorytm układu syntezy anteny wykorzystany w danej aplikacji</li>
            <li>Generowanie charakterystyki promieniowania anteny (symulacja)</li>
        </ol>
        </p>
        <hr>
        <div class="conteiner fluid">
            <p id="index1">
                W sumie na disiaj tyle ile mozna klepac kodu. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
                vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
            </p>
            <p id="index2">
                Etiam porta sem malesuada magna mollis euismod.


                Cras mattis consectetur purus sit amet fermentum.


                Aenean lacinia bibendum nulla sed consectetur.

                Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.
            </p>
            <p id="index3">
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.


                Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.


                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                amet risus.
            </p>
        </div>
    </div>
</div>


<!--<div class="container">-->
<!--<div class="form-group">-->
<!--<label for="exampleInputFile">File input</label>-->
<!--<input type="file" id="exampleInputFile">-->
<!--<p class="help-block">Example block-level help text here.</p>-->
<!--</div>-->
<!--</div>-->
{% endblock %}
{% endblock %}
