{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
{% block content %}
<div class="container fluid">
    <div class="well">
    <h2>
        <small>Aplikacja Sterowania układem Systemu Antenowego </small>
    </h2>
    <h5>
        <small>Program sterujący układem syntezy wspołczynników pobudzenia systemu antenowego</small>
    </h5>
        <div class="bs-example" data-example-id="body-copy">
            <p>
                <ol>
                    <li><a href="#index1">Układ sterowania</a></li>
                    <li><a href="#index2">Cyfrowy tłumik programowalny</a></li>
                    <li><a href="#index3">Cyfrowy przesuwnik fazy</a></li>
                    <li><a href="#index4">Konfiguracja stanowiska pomiarowego za pomocą aplikacji webowej</a></li>
                </ol>
            </p>
        </div>
    </div>
        <div class="conteiner fluid">
                <div class="row">
                    <p id="index1" align="justify">
                   Aplikacja służy do sterowania układem przełaczników mikrofalowych celem wygenerowania zadanej charakterystyki promieniowania układu antenowego.
                    Sterowanie układami odbywa się poprzez inicjalizjację elementów układu z aplikacją w zakładce "Kalibracja modułów stanowiska pomiarowego".
                    W danej sekcji, użytkownik inicjalizuje poszczególne moduły stanowsika pomiarowego oraz wprowadza odpowiednie nastawy urządzeń. Do wyboru mamy <mark>2 różnego rodzaju moduły</mark>:
                    <ul>
                        <li>Cyfrowy tłumik programowalny</li>
                        <li>Cyfrowy przesuwnik fazy</li>
                    </ul>
                </p>
                </div>

                <div class="row">

                    <h4>Cyfrowy moduł tłumika programowalnego</h4>
                    <img alt="" src="/static/img/digital-attenuator.jpg" align="left" style="margin: 0px 20px 0px 0px">
                    <p id="index2" align="justify">
                        Moduł tłumika programowalnego firmy Vaunix oferuje kalibracje wartości tłumienia w zakresie  częstotliwości do 20 GHz. Sterowanie modułami odbywa się poprzez wymiane danych w satnardzie USB.
                        Moduł pozwala na pracę z sygnałem wejsciowym o maksymalnej mocy 1 W. Używany model oferuję pracę w zakresie od 400 do 6000 MHz, dynamiką nastawy 63 dB oraz krokiem 0,5 dB.
                        Aby uzyskać więcej informacji na temat produktu, należy zwrócić się <a target="_blank" href="http://vaunix.com/products/digital-attenuators/overview/">tutaj.</a>
                    </p>

                </div>
                <hr>
                <div class="row">
                    <h4>Cyfrowy moduł przesuwnika fazy</h4>
                    <img alt="" src="/static/img/phase-shifters.jpg" align="left" style="margin: 0px 20px 0px 0px">
                    <p id="index3" align="justify">
                        Cyfrowy moduł przesuwnika fazy oferuje zmianę wartości fazy w stopniach. Przesuwnik fazowy tak samo jak moduł tłumika wymienie dane korzystając z protokołu USB.
                        Dysponując pamięcią wewnętrzną układ zapisuje obecny stan dzięki czemu przy przywróceniu zasilania układ znajduje się w tym samym stanie fazowym. Model LPS-802 oferuje
                        zmianę wartości w zakresie 360 stopni z krokiem 1 stopia. Dany model może pracować w zakresie od 4 do 8 GHz. Po więcej informacji wystarczy kilknąć
                        <a target="_blank" href="http://vaunix.com/products/phase-shifters/overview/">tutaj.</a>
                    </p>
                </div>
                <hr>
                <div class="row">
                    <p id="index4">
                    <h4>Kalibracja oraz konfiguracja modułów wchdzących w skład stanowiska pomiarowego </h4>
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% endblock %}
