{% extends "table.html" %}
{% block title %}Send_Data{% endblock %}
{% block page_content  %}
{% block content %}
<div class="container">
    <h1>Spis Tresci</h1>
    <div class="bs-example" data-example-id="body-copy">
        <p>The error vector magnitude or EVM (sometimes also called receive constellation error or RCE)
            is a measure used to quantify the performance of a digital radio transmitter or receiver. A signal sent by
            an ideal transmitter or received by a receiver would have all constellation points precisely at the ideal
            locations, however various imperfections in the implementation (such as carrier leakage, low image rejection
            ratio, phase noise etc.) cause the actual constellation points to deviate from the ideal locations.
            Informally, EVM is a measure of how far the points are from the ideal locations.
            Noise, distortion, spurious signals, and phase noise all degrade EVM, and therefore
            EVM provides a comprehensive measure of the quality of the radio receiver or transmitter for use in digital
            communications.
            Transmitter EVM can be measured by specialized equipment, which demodulates the received
            signal in a similar way to how a real radio demodulator does it.
            One of the stages in a typical phase-shift keying demodulation process produces a
            stream of I-Q points which can be used as a reasonably reliable estimate for the ideal transmitted signal in
            EVM calculation.
        </p>
    </div>
</div>
{% endblock %}
{% endblock %}