
{% extends "table.html" %}
{% block title %}Send_Data{% endblock %}
{% block content %}
<div class="navbar navbar-static-top">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="/table">Wybór dostepnych modułów</a></li>
            <li class="active"><a href="/send_data">Wpisz oraz wyslij wartosc</a></li>
        </ul>
        <hr>

        <div class="row">
            <div class="col-xs-6">
                <p>Modul 1</p>
                <select class="selectpicker form-control" tabindex="-98">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Wybór parametru - Tlumienie, Faza
                    </div>
                    <div class="panel-body">
                        <label for="select0">Wybierz wielkosc</label>
                        <select id="select0" class="selectpicker form-control" tabindex="-98">
                            <option>Tlumienie</option>
                            <option>Faza</option>
                        </select>
                        <h4><input type="text" class="form-control"></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <p>Modul 2</p>
                <select class="selectpicker form-control" tabindex="-98">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Wybór parametru - Tlumienie, Faza
                    </div>
                    <div class="panel-body">
                        <label for="select1">Wybierz wielkosc</label>
                        <select id="select1" class="selectpicker form-control" tabindex="-98">
                            <option>Tlumienie</option>
                            <option>Fazy</option>
                        </select>
                        <h4><input type="text" class="form-control"></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <p>Modul 3</p>
                <select class="selectpicker form-control" tabindex="-98">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Wybór parametru - Tlumienie, Faza
                    </div>
                    <div class="panel-body">
                        <label for="select2">Wybierz wielkosc</label>
                        <select id="select2" class="selectpicker form-control" tabindex="-98">
                            <option>Tlumienie</option>
                            <option>Fazy</option>
                        </select>
                        <h4><input type="text" class="form-control"></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <p>Modul 4</p>
                <select class="selectpicker form-control" tabindex="-98">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        WWybór parametru - Tlumienie, Faza
                    </div>
                    <div class="panel-body">
                        <label for="select3">Wybierz wielkosc</label>
                        <select id="select3" class="selectpicker form-control" tabindex="-98">
                            <option>Tlumienie</option>
                            <option>Fazy</option>
                        </select>
                        <h4><input type="text" class="form-control"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}