{% extends "base.html" %}
{% block title %}Tabela{% endblock %}
{% block page_content  %}
{% block content %}
<div class="navbar navbar-static-top">
    <div class="container">
        <ul>
            <li class="btn btn-default active"><a href="/table">Wybór dostepnych modułów</a></li>
            <li class="btn btn-default"><a href="/send_data">Wpisz oraz wyslij wartosc</a></li>
        </ul>

        <div class="row">
             <div class="well">
                <p align="justify">
                Poniżej znajduje się zestaw pięciu bloków, w którym należy wybrać po jednym module tłumika oraz przesuwnika fazy.
                Wyboru dokonujemy poprzez wybranie danego modułu z listy wybieralnej.
            </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Blok nr 1 stanowiska pomiarowego
                    </div>
                    <div class="panel-body">
                        <label>Moduł tłumika programowalnego</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <form class="form-inline" method="GET" action="{{ url_for('get_atten') }}">
                                    <select class="selectpicker form-control" tabindex="-98">
                                        {% for o in atten %}
                                        <option value="{{ atten[o] }}">{{ atten[o] }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-default"> Pokaż wartość</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <label>Moduł przesuwnika fazy</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <form class="form-inline" method="GET" action="{{ url_for('get_shifter') }}">
                                    <select class="selectpicker form-control" tabindex="-98">
                                        {% for o in shifter %}
                                        <option value="{{ shifter[o] }}">{{ shifter[o] }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-default">Pokaż wartość</button>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <div class="btn btn-default">
                                    Wartość fazy <span class="badge">323</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Blok nr 2 stanowiska pomiarowego
                    </div>
                    <div class="panel-body">
                        <label>Moduł tłumika programowalnego</label>
                        <select class="selectpicker form-control" tabindex="-98">
                            <option>LSD768921</option>
                            <option>LSD768345</option>
                            <option>LSD768923</option>
                        </select>
                    </div>
                    <div class="panel-body">
                        <label>Moduł przesuwnika fazy</label>
                        <select class="selectpicker form-control" tabindex="-90">
                            <option>LDA788898</option>
                            <option>LDA788878</option>
                            <option>LDA788895</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Blok nr 3 stanowiska pomiarowego
                    </div>
                    <div class="panel-body">
                        <label>Moduł tłumika programowalnego</label>
                        <select class="selectpicker form-control" tabindex="-98">
                            <option>LSD768921</option>
                            <option>LSD768345</option>
                            <option>LSD768923</option>
                        </select>
                    </div>
                    <div class="panel-body">
                        <label>Moduł przesuwnika fazy</label>
                        <select class="selectpicker form-control" tabindex="-90">
                            <option>LDA788898</option>
                            <option>LDA788878</option>
                            <option>LDA788895</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Wybrana wartosc tlumienia lub fazy
                    </div>
                    <div class="panel-body">
                        <label for="select2">Wybierz wartosc</label>
                        <select id="select2" class="selectpicker form-control" tabindex="-98">
                            <option>Tlumienie</option>
                            <option>Faza</option>
                        </select>
                        <h4><span class="label label-info">Wartosc zwrocna z selecta</span></h4>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Blok nr 4 stanowiska pomiarowego
                    </div>
                    <div class="panel-body">
                        <label>Moduł tłumika programowalnego</label>
                        <select class="selectpicker form-control" tabindex="-98">
                            <option>LSD768921</option>
                            <option>LSD768345</option>
                            <option>LSD768923</option>
                        </select>
                    </div>
                    <div class="panel-body">
                        <label>Moduł przesuwnika fazy</label>
                        <select class="selectpicker form-control" tabindex="-90">
                            <option>LDA788898</option>
                            <option>LDA788878</option>
                            <option>LDA788895</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Wybrana wartosc tlumienia lub fazy
                    </div>
                    <div class="panel-body">
                        <label for="select4">Wybierz wartosc</label>
                        <select id="select4" class="selectpicker form-control" tabindex="-98">
                            <option>Tlumienie</option>
                            <option>Faza</option>
                        </select>
                        <h4><span class="label label-info">Wartosc zwrocna z selecta</span></h4>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Blok nr 5 stanowiska pomiarowego
                    </div>
                    <div class="panel-body">
                        <label>Moduł tłumika programowalnego</label>
                        <select class="selectpicker form-control" tabindex="-98">
                            <option>LSD768921</option>
                            <option>LSD768345</option>
                            <option>LSD768923</option>
                        </select>
                    </div>
                    <div class="panel-body">
                        <label>Moduł przesuwnika fazy</label>
                        <select class="selectpicker form-control" tabindex="-98">
                            <option>LDA788898</option>
                            <option>LDA788878</option>
                            <option>LDA788895</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Wybrana wartosc tlumienia lub fazy
                    </div>
                    <div class="panel-body">
                        <label for="select5">Wybierz wartosc</label>
                        <select id="select5" class="selectpicker form-control" tabindex="-98">
                            <option>Tlumienie</option>
                            <option>Faza</option>
                        </select>
                        <h4><span class="label label-info">Wartosc zwrocna z selecta</span></h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% endblock %}