{% extends "base.html" %}
{% block title %}Tabela{% endblock %}
{% block page_content  %}
{% block content %}
<div class="navbar navbar-static-top">
    <div class="container">
        <div class="row">
             <div class="well">
                <p align="justify">
                Poniżej znajduje się zestaw pięciu bloków, w którym należy wybrać po jednym module tłumika oraz przesuwnika fazy.
                Wyboru dokonujemy poprzez wybranie danego modułu z listy wybieralnej.
            </p>
            </div>
        </div>
        <div class="row">
            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#collapse1">Blok nr 1 stanowiska pomiarowego</a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row align-items-start">
                                <div class="col-xs-4">
                                    <label>Moduł tłumika programowalnego</label>
                                    <form class="form-inline" method="GET" action=" {{ url_for('table') }}">
                                        <select class="selectpicker form-control" tabindex="-98" name="atten_get">
                                            {% for i in atten %}
                                            <option value="{{ i.name }}">{{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit" class="btn btn-primary"> Zatwierdź</button>
                                    </form>
                                </div>
                                <div class="col-xs-4">
                                    <label>Wartość tłumienia</label>
                                    <form class="form-inline">
                                        <div class="btn btn-default">
                                            <span class="badge">45</span> dB
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-3">
                                    <form class="form-group">
                                        <label for="atten">Wpisz wartosc tlumienia</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="atten" maxlength="30px">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">Wyslij</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row align-items-start">
                                <div class="col-xs-4">
                                    <label>Moduł Przesuwnika fazy</label>
                                    <form class="form-inline" method="GET" action="{{ url_for('table') }}">
                                        <select class="selectpicker form-control" tabindex="-98" name="shifter_get">
                                            {% for i in shifter %}
                                            <option value="{{ i.name }}">{{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit" class="btn btn-primary"> Zatwierdź</button>
                                    </form>
                                </div>
                                <div class="col-xs-4">
                                    <label>Wartość przesunięcia fazowego</label>
                                    <form class="form-inline">
                                        <div class="btn btn-default">
                                            <span class="badge" >323</span> &#176
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-3">
                                    <form class="form-group">
                                        <label for="shifter">Wpisz wartosc przesuniecia</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="shifter" maxlength="30px">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">Wyslij</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel-group">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#collapse2">Blok nr 2 stanowiska pomiarowego</a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row align-items-start">
                                <div class="col-xs-4">
                                    <label>Moduł tłumika programowalnego</label>
                                    <form class="form-inline">
                                        <select class="selectpicker form-control" tabindex="-98">
                                            <option>LSD768921</option>
                                            <option>LSD768345</option>
                                            <option>LSD768923</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary"> Zatwierdź</button>
                                    </form>
                                </div>
                                <div class="col-xs-4">
                                    <label>Wartość tłumienia</label>
                                    <form class="form-inline">
                                        <div class="btn btn-default">
                                            <span class="badge">323</span> dB
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-3">
                                    <form class="form-group">
                                        <label for="atten">Wpisz wartosc tlumienia</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="atten" maxlength="30px">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">Wyslij</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row align-items-start">
                                <div class="col-xs-4">
                                    <label>Moduł Przesuwnika fazy</label>
                                    <form class="form-inline">
                                        <select class="selectpicker form-control" tabindex="-98">
                                            <option>LSP768921</option>
                                            <option>LSP768345</option>
                                            <option>LSP768923</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary"> Zatwierdź</button>
                                    </form>
                                </div>
                                <div class="col-xs-4">
                                    <label>Wartość przesunięcia fazowego</label>
                                    <form class="form-inline">
                                        <div class="btn btn-default">
                                            <span class="badge" >323</span> &#176
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-3">
                                    <form class="form-group">
                                        <label for="shifter">Wpisz wartosc przesuniecia</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="shifter" maxlength="30px">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">Wyslij</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#collapse3">Blok nr 3 stanowiska pomiarowego</a>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row align-items-start">
                                <div class="col-xs-4">
                                    <label>Moduł tłumika programowalnego</label>
                                    <form class="form-inline">
                                        <select class="selectpicker form-control" tabindex="-98">
                                            <option>LSD768921</option>
                                            <option>LSD768345</option>
                                            <option>LSD768923</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary"> Zatwierdź</button>
                                    </form>
                                </div>
                                <div class="col-xs-4">
                                    <label>Wartość tłumienia</label>
                                    <form class="form-inline">
                                        <div class="btn btn-default">
                                            <span class="badge">323</span> dB
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-3">
                                    <form class="form-group">
                                        <label for="atten">Wpisz wartosc tlumienia</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="atten" maxlength="30px">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">Wyslij</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row align-items-start">
                                <div class="col-xs-4">
                                    <label>Moduł Przesuwnika fazy</label>
                                    <form class="form-inline">
                                        <select class="selectpicker form-control" tabindex="-98">
                                            <option>LSP768921</option>
                                            <option>LSP768345</option>
                                            <option>LSP768923</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary"> Zatwierdź</button>
                                    </form>
                                </div>
                                <div class="col-xs-4">
                                    <label>Wartość przesunięcia fazowego</label>
                                    <form class="form-inline">
                                        <div class="btn btn-default">
                                            <span class="badge" >323</span> &#176
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-3">
                                    <form class="form-group">
                                        <label for="shifter">Wpisz wartosc przesuniecia</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="shifter" maxlength="30px">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">Wyslij</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel-group">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#collapse4">Blok nr 4 stanowiska pomiarowego</a>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row align-items-start">
                                <div class="col-xs-4">
                                    <label>Moduł tłumika programowalnego</label>
                                    <form class="form-inline">
                                        <select class="selectpicker form-control" tabindex="-98">
                                            <option>LSD768921</option>
                                            <option>LSD768345</option>
                                            <option>LSD768923</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary"> Zatwierdź</button>
                                    </form>
                                </div>
                                <div class="col-xs-4">
                                    <label>Wartość tłumienia</label>
                                    <form class="form-inline">
                                        <div class="btn btn-default">
                                            <span class="badge">323</span> dB
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-3">
                                    <form class="form-group">
                                        <label for="atten">Wpisz wartosc tlumienia</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="atten" maxlength="30px">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">Wyslij</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row align-items-start">
                                <div class="col-xs-4">
                                    <label>Moduł Przesuwnika fazy</label>
                                    <form class="form-inline">
                                        <select class="selectpicker form-control" tabindex="-98">
                                            <option>LSP768921</option>
                                            <option>LSP768345</option>
                                            <option>LSP768923</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary"> Zatwierdź</button>
                                    </form>
                                </div>
                                <div class="col-xs-4">
                                    <label>Wartość przesunięcia fazowego</label>
                                    <form class="form-inline">
                                        <div class="btn btn-default">
                                            <span class="badge" >323</span> &#176
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-3">
                                    <form class="form-group">
                                        <label for="shifter">Wpisz wartosc przesuniecia</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="shifter" maxlength="30px">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">Wyslij</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#collapse5">Blok nr 5 stanowiska pomiarowego</a>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row align-items-start">
                                <div class="col-xs-4">
                                    <label>Moduł tłumika programowalnego</label>
                                    <form class="form-inline">
                                        <select class="selectpicker form-control" tabindex="-98">
                                            <option>LSD768921</option>
                                            <option>LSD768345</option>
                                            <option>LSD768923</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary"> Zatwierdź</button>
                                    </form>
                                </div>
                                <div class="col-xs-4">
                                    <label>Wartość tłumienia</label>
                                    <form class="form-inline">
                                        <div class="btn btn-default">
                                            <span class="badge">323</span> dB
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-3">
                                    <form class="form-group">
                                        <label for="atten">Wpisz wartosc tlumienia</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="atten" maxlength="30px">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">Wyslij</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row align-items-start">
                                <div class="col-xs-4">
                                    <label>Moduł Przesuwnika fazy</label>
                                    <form class="form-inline">
                                        <select class="selectpicker form-control" tabindex="-98">
                                            <option>LSP768921</option>
                                            <option>LSP768345</option>
                                            <option>LSP768923</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary"> Zatwierdź</button>
                                    </form>
                                </div>
                                <div class="col-xs-4">
                                    <label>Wartość przesunięcia fazowego</label>
                                    <form class="form-inline">
                                        <div class="btn btn-default">
                                            <span class="badge" >323</span> &#176
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-3">
                                    <form class="form-group">
                                        <label for="shifter">Wpisz wartosc przesuniecia</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="shifter" maxlength="30px">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">Wyslij</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}